<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>admin page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- ICON -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
  <!-- ADMIN CSS -->
  <link rel="stylesheet" th:href="@{/css/admin.css}">
  <!--HEADER, FOOTER CSS-->
  <!-- <link rel="stylesheet" href="headerFooter.css">  -->
  <script src="https://tbezauth.settlebank.co.kr/js/SettlePay.js"></script>
  <script src="/js/jquery-3.7.1.min.js"></script>

  <style>

    table {
      font-family: 'Pretendard-Regular';
      padding:7px;
      margin:7px;
      margin-left:auto;
      margin-right:auto;
      color:black;
      background-color: #FFFFFF;
      border-bottom: solid 1px #cccccc;
      border-collapse: collapse;

    }
    th,td{
      padding:9px;
    }
    tr {
      border-bottom: solid 1px #cccccc;
    }
    h1 {
      font-family: 'Pretendard-Regular';
    }

  </style>
</head>
<body>

<!--- SIDE BAR -->
<div class="side-bar" style=" width: 17vw;">
  <div class="logo-name">
    <h2 style="color: white"> 안녕하세요, 관리자님! </h2>
  </div>
  <ul>
    <li><i class="ri-dashboard-line" style="font-size: 1.5rem;"></i><a th:href="@{/admin}"> &nbsp 대시보드</a></li>
    <li><i class="ri-money-dollar-circle-line" style="font-size: 1.5rem;"></i><a th:href="@{/adminlist}"> &nbsp 예약/결제</a></li>
    <li><i class="ri-funds-box-line" style="font-size: 1.5rem;"></i><a th:href="@{/admin/statistics}"> &nbsp 통계</a></li>
    <li><i class="ri-settings-4-line" style="font-size: 1.5rem;"></i><a th:href="@{/notready}"> &nbsp 설정</a></li>
  </ul>
</div>

<!-- HEADER -->
<div class="container">
  <div class="header" style="width: 82vw;">
    <div class="nav">
      <a th:href="@{/}" style="font-size: 1.5rem;"><i class="ri-earth-line"></i><b> Kick The World</b> </a>
      <ul>
        <li><a th:href="@{/main/trips}"><i class="ri-map-pin-line" style="font-size: 1.5rem;"></i>여행지</a></li>
        <li><a th:href="@{/main/stays}"><i class="ri-hotel-bed-line" style="font-size: 1.5rem;"></i>숙소</a></li>
        <li><a th:href="@{/main/eaterys}"><i class="ri-restaurant-line" style="font-size: 1.5rem;"></i>맛집</a></li>
        <li><a th:href="@{/search}"><i class="ri-heart-3-line" style="font-size: 1.5rem;"></i>추천코스</a></li>
        <li><a th:href="@{/board/list}"><i class="ri-edit-line" style="font-size: 1.5rem;"></i>여행게시판</a></li>
      </ul>
      <a th:href="@{/members/logout}" th:if="${#authorization.expression('isAuthenticated()')}">
        <span th:text="'[' + ${#authentication.principal.username} + ']' + '님 환영합니다! '"></span>&nbsp<b><span style="color: #6610f2;">로그아웃</span></b></a>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="pay_content">
    <div>
      <form method="post" action="" id="payForm" name="payForm" >
        <div style="margin-top: 150px;">
          <h2 style="text-align:center;">전체결제내역</h2><br><br>
          <!-- container -->
          <div class="pay_container" style="margin-left:auto; margin-right:auto; width:90%;">
            <div class="table-responsive" style="margin-left:auto; margin-right:auto; text-align:center">
              <table class="table" style="width:100%; text-align:center;">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>숙소명</th>
                  <th>회원아이디</th>
<!--                  <th>숙소번호</th>-->

                  <!--                            <th>승인번호</th>-->
                  <th>거래번호</th>
                  <th>숙소금액</th>
                  <th>결제상태</th>
<!--                  <th>기타</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="pay : ${payList}">
                  <td th:text="${pay.id}"></td>
                  <td th:text="${pay.productNm}" style="width:20%;" ></td>
                  <td th:text="${pay.ordNo.substring(pay.ordNo.lastIndexOf('_') + 1)}"></td>
<!--                  <td th:text="${pay.ordNo}"></td>-->
                  <!--                                <td th:text="${pay.authNo}"></td>-->
                  <td th:text="${pay.trNo}"></td>
                  <td th:text="${#strings.replace(#numbers.formatDecimal(pay.trPrice, 0, 'COMMA', 2, 'POINT'), '.00', '')+'원'}" ></td>
                  <th:block th:switch="${pay.payStatus}">
                    <td th:case="${'P'}">결제완료</td>
                    <td th:case="${'C'}">결제취소완료</td>
                  </th:block>
<!--                  <td th:if="${pay.payStatus == 'P'}">-->
<!--                    <button type="button" th:onclick="goCancel([[${pay.ordNo}]], [[${pay.trNo}]])" style="padding:5px; border-radius:5px;">결제취소</button>-->
<!--                  </td>-->
<!--                  <td th:if="${pay.payStatus == 'C'}"></td>-->
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- //container -->
        </div>
      </form>
    </div>

  </div>
</div>
<script th:inline="javascript">
  function goCancel(ordNo, trNo) {
    console.log(ordNo + ", " + trNo)
    $.ajax({
      type : 'POST',
      url : '/payCancel',
      dataType : 'JSON',
      data : {
        ordNo: ordNo,
        trNo: trNo
      },
      success: function(data) {
        if(data.resultCd == "0"){
          alert("결제 취소 성공");
          location.reload();
        }else{
          alert("결제 취소 실패 : " + data.resultMsg);
        }
      },
      error: function(e) {
        alert("처리중 오류가 발생했습니다");
      }
    });
  }
</script>
</body>
</html>