<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/boardHeaderFooter.css}">
    <link rel="stylesheet" th:href="@{/css/boardList.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
    <script src="https://tbezauth.settlebank.co.kr/js/SettlePay.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>

    <style>
        @font-face {
            font-family: 'Pretendard-Regular';
            src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }
        input {
            width: 280px;
            text-align:center;
        }
        body,header,form {
            font-family: 'Pretendard-Regular';
            background-color: #FDFAFF;
            text-align:center;
            margin-left: auto;
            margin-right: auto;
        }
        table {
            font-family: 'Pretendard-Regular';
            padding:10px;
            margin:10px;
            margin-left:auto;
            margin-right:auto;
            color:black;
            background-color: #FFFFFF;
        }
        h1 {
            font-family: 'Pretendard-Regular';
        }
        td,th{
            padding:7px;
        }
    </style>
</head>
<body>
<!-- HEADER -->
<header class="header" id="header">
    <!--NAV CONTAINER 1-->
    <nav class="nav container">
        <a href="/" class="nav__logo-eng"> <i class="ri-earth-line"></i> Kick The World </a>

        <!--NAV MENU-->
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="/" ><b>마이페이지</b></a>
                </li>

                <!-- 8번 브랜치에서 추가-->
                <li class="nav__item">
                    <a class="nav__link" href="/board/list" ><b>여행게시판</b></a>
                </li>
                <li class="nav__item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a class="nav__link" href="/admin" th:href="@{/admin}" ><b>관리자페이지</b></a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/members/login" th:href="@{/members/login}"
                       th:if="${#authorization.expression('isAnonymous()')}"><b>로그인</b></a>
                </li>

                <li class="nav__item">
                    <a class="nav__link" href="/members/new" th:href="@{/members/new}"
                       th:if="${#authorization.expression('isAnonymous()')}"><b>회원가입</b></a>
                </li>

                <li class="nav__item">
                    <a class="nav__link" href="/members/logout" th:href="@{/members/logout}"
                       th:if="${#authorization.expression('isAuthenticated()')}"><b>로그아웃</b></a>
                </li>

                <i class="ri-close-line nav__close" id="nav-close"></i>
            </ul>
        </div>
        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-function-line"></i>
        </div>
    </nav>

    <!--NAV CONTAINER 2-->
    <nav class="nav__container-main">
        <div class="nav__menu" id="nav-menu-main">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/main/trips" class="nav__link"><i class="ri-map-pin-line"></i> 여행지</a>
                </li>
                <li class="nav__item">
                    <a href="/main/stays" class="nav__link"><i class="ri-hotel-bed-line"></i> 숙소</a>
                </li>
                <li class="nav__item">
                    <a href="/main/eaterys" class="nav__link"><i class="ri-restaurant-line"></i> 맛집</a>
                </li>
                <li class="nav__item">
                    <a href="/" class="nav__link"><i class="ri-heart-3-line"></i> 추천코스</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div>
    <form method="post" action="" id="payForm" name="payForm" >
        <div>
            <h1>결제 승인요청</h1>
            <!-- container -->
            <div class="container">
                <div class="table-responsive">
                    <table class="table">
                        <colgroup>
                            <col style="width: 15%;">
                            <col style="width: 35%;">
                            <col style="width: 15%;">
                            <col style="width: 35%;">
                        </colgroup>

                        <tbody>
                        <tr>
                            <td>가맹점아이디</td><td><input type="text" name="mercntId" id="mercntId" placeholder="가맹점아이디" th:value="${mercntId}"></td>
                        </tr>
                        <tr>
                            <td>숙소금액</td><td><input type="text" name="trPrice" id="trPrice" placeholder="숙소금액" th:value="${trPrice}"></td>
                        </tr>
                        <tr>
                            <td>결제금액</td><td><input type="text" name="payPrice" id="payPrice" placeholder="결제금액" th:value="${payPrice}"></td>
                        </tr>
                        <tr>
                            <td>예약번호</td><td><input type="text" name="ordNo" id="ordNo" placeholder="예약번호" th:value="${ordNo}"></td>
                        </tr>
                        <tr>
                            <td>승인번호</td><td><input type="text" name="authNo" id="authNo" placeholder="승인번호" th:value="${authNo}"></td>
                        </tr>
                        <tr>
                            <td>거래일자</td><td><input type="text" name="trDay" id="trDay" placeholder="거래일자" th:value="${trDay}"></td>
                        </tr>

                        <tr>
                            <td>체크인날짜</td><td><input type="text" name="mercntParam1" id="mercntParam1" placeholder="체크인날짜" th:value="${mercntParam1}"></td>
                        </tr>
                        <tr>
                            <td>체크아웃날짜</td><td><input type="text" name="mercntParam2" id="mercntParam2" placeholder="체크아웃날짜" th:value="${mercntParam2}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- //container -->

            <!-- fixed bottom button -->
            <div class="fix_btm_btn"><button type="button" id="send" class="btn btn_lg" onclick="goPayApprov();">결제승인요청</button></div>
            <!-- //fixed bottom button -->
        </div>
        <input type="hidden" name="trTime" id="trTime" placeholder="거래시간" >
        <input type="hidden" name="hdInfo" id="hdInfo" placeholder="전문정보" value="IA_APPROV">
        <input type="hidden" name="apiVer" id="apiVer" placeholder="전문버전" value="3.0">
        <input type="hidden" name="resultCd" id="resultCd" placeholder="결과코드" th:value="${resultCd}" readonly="readonly">
        <input type="hidden" name="resultMsg" id="resultMsg" placeholder="결과메세지" th:value="${resultMsg}" readonly="readonly">
        <input type="hidden" name="discntPrice" id="discntPrice" placeholder="할인금액" th:value="${discntPrice}">

    </form>
</div>

<!-- FOOTER -->
<footer class="footer section" >
    <div class="footer__container container grid" style="margin-top:500px;">
        <div class="footer__content grid">
            <div class="footer__data">
                <h3 class="footer__title">Developer</h3>
                <div>
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social">
                        <span class="footer__name">김은정</span><i class="ri-github-fill"></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank" class="footer__social">
                        <span class="footer__name">박의연</span><i class="ri-github-fill"></i>
                    </a>
                </div>
            </div>


            <div class="footer__data">
                <h3 class="footer__subtitle">Company</h3>
                <ul>
                    <li class="footer__item">
                        <a href="" class="footer__link">Team</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Plan y Pricing</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Become a member</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__rights">
            <p class="footer__copy">&#169; 2023 Balance Booster. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>

<script th:inline="javascript">
    var viewType = /*[[ ${viewType} ]]*/ "";
    console.log(viewType);
    if (viewType == "popup") {
        window.opener.setValue("#callbackMercntId",/*[[ ${mercntId} ]]*/"");
        window.opener.setValue("#callbackAuthNo",/*[[ ${authNo} ]]*/"");
        window.opener.setValue("#callbackOrdNo",/*[[ ${ordNo} ]]*/"");

        //종료
        window.close();
    }

    function goPayApprov(){

        if ( $("#hdInfo").val() == "" ) {
            alert("전문정보를 입력해주세요.");
            $("#hdInfo").focus();
            return;
        } else if ( $("#apiVer").val() == "" ) {
            alert("전문버전을 입력해주세요.");
            $("#apiVer").focus();
            return;
        } else if ( $("#mercntId").val() == "" ) {
            alert("가맹점아이디를 입력해주세요.");
            $("#mercntId").focus();
            return;
        } else if ( $("#authNo").val() == "" ) {
            alert("인증번호를 입력해주세요.");
            $("#authNo").focus();
            return;
        }

        $.ajax({
            type : 'POST',
            url : '/payAction',
            dataType : 'JSON',
            data : {
                'hdInfo' : $("#hdInfo").val(),
                'apiVer' : $("#apiVer").val(),
                'mercntId' : $("#mercntId").val(),
                'authNo' : $("#authNo").val(),
                'ordNo':$("#ordNo").val()
            },
            // headers: {
            //     'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
            // },
            success: function(data) {
                if(data.resultCd == "0"){
                    alert("결제승인 성공 \n 거래번호 : " + data.trNo);
                }else{
                    alert("결제승인 실패. " + data.resultMsg);
                }
            },
            error: function(e) {
                alert("처리중 오류가 발생했습니다");
            }
        });
    }
</script>
</html>