<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>예약</title>
  <link rel="stylesheet" th:href="@{/css/boardHeaderFooter.css}">
  <link rel="stylesheet" th:href="@{/css/boardList.css}">
<!--  <link th:href="@{/css/stay.css}" rel="stylesheet">-->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">

  <style>
    @font-face {
      font-family: 'Pretendard-Regular';
      src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
      font-weight: 400;
      font-style: normal;
    }
    body,header {
      font-family: 'Pretendard-Regular';
      background-color: #FDFAFF;
    }
  </style>
  <script th:inline="javascript">
    function cancelOrder(orderId) {
      var url = "/order/" + orderId + "/cancel";
      var paramData = {
        orderId : orderId,
      };

      var param = JSON.stringify(paramData);

      $.ajax({
        url      : url,
        type     : "POST",
        contentType : "application/json",
        data     : param,
        dataType : "json",
        cache   : false,
        success  : function(result, status){
          alert("예약을 취소했습니다.");
          // 해당 예약 정보를 삭제
          $("#order-" + orderId).fadeOut('slow', function () {
            // 애니메이션이 완료되면 페이지 리로드
            location.reload();
          });
        },
        error : function(jqXHR, status, error){
          if(jqXHR.status == '401'){
            alert('로그인 후 이용해주세요');
            location.href='/members/login';
          } else{
            alert(jqXHR.responseText);
          }
        }
      });
    }

    function deleteOrder(orderId) {
      var url = "/order/" + orderId;
      $.ajax({
        url: url,
        type: "DELETE",

        success: function(result, status) {
          alert("삭제 되었습니다.");
        },
        error: function(jqXHR, status, error) {
          alert("오류발생");
        }
      });
    }

  </script>
<!-- 사용자 CSS 추가 -->
  <style>
    @font-face {
      font-family: 'Pretendard-Regular';
      src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
      font-weight: 400;
      font-style: normal;
    }
    body,h2{
      font-family: 'Pretendard-Regular';
    }
    .main {
      width: 80%;
      margin-left:auto;
      margin-right: auto;
    }

  </style>
</head>
<body>
<!-- HEADER -->
<header class="header" id="header">
  <!--NAV CONTAINER 1-->
  <nav class="nav container">
    <a href="/" class="nav__logo-eng"> <i class="ri-earth-line"></i> Kick The World </a>

    <!--NAV MENU-->
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="/mypage" ><b>마이페이지</b></a>
        </li>
        <!-- 8번 브랜치에서 추가-->
        <li class="nav__item">
          <a class="nav__link" href="/board/list" ><b>여행게시판</b></a>
        </li>
        <li class="nav__item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
          <a class="nav__link" href="/admin" th:href="@{/admin}" ><b>관리자페이지</b></a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="/members/login" th:href="@{/members/login}"
             th:if="${#authorization.expression('isAnonymous()')}"><b>로그인</b></a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="/members/new" th:href="@{/members/new}"
             th:if="${#authorization.expression('isAnonymous()')}"><b>회원가입</b></a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="/members/logout" th:href="@{/members/logout}"
             th:if="${#authorization.expression('isAuthenticated()')}"><b>로그아웃</b></a>
        </li>

        <i class="ri-close-line nav__close" id="nav-close"></i>
      </ul>
    </div>
    <div class="nav__toggle" id="nav-toggle">
      <i class="ri-function-line"></i>
    </div>
  </nav>

  <!--NAV CONTAINER 2-->
  <nav class="nav__container-main">
    <div class="nav__menu" id="nav-menu-main">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/main/trips" class="nav__link"><i class="ri-map-pin-line"></i> 여행지</a>
        </li>
        <li class="nav__item">
          <a href="/main/stays" class="nav__link"><i class="ri-hotel-bed-line"></i> 숙소</a>
        </li>
        <li class="nav__item">
          <a href="/main/eaterys" class="nav__link"><i class="ri-restaurant-line"></i> 맛집</a>
        </li>
        <li class="nav__item">
          <a href="/" class="nav__link"><i class="ri-heart-3-line"></i> 추천코스</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div>
<h2 style="margin-top: 200px; margin-left:auto; margin-right:auto; text-align:center; "> 결제 대기 </h2>
</div>
<div class="main" style="margin-top:50px; margin-left:auto; margin-right:auto; text-align:center; background-color:#FFFFFF; border-radius:20px; width:80%;">
  <div th:each="order : ${orders.getContent()}">
    <div>
      <p th:text="${order.orderDate}" style="font-size:23px;"></p>
      <div>
        <div th:unless="${order.orderStatus == T(com.example.Order.Constant.OrderStatus).ORDER}">
          <h4>(삭제 완료)</h4>
        </div>
       </div>
      </div>
    <div>
      <div th:each="orderItem : ${order.orderItemDtoList}">
        <div>
          <img th:src="${orderItem.imgUrl}" th:alt="${orderItem.name}" style="width:300px;">
        </div>
        <div>
          <span th:text="${orderItem.name}" ></span>
          <div>
            <div>
              <span th:text="${'입실날짜: '+#dates.format(orderItem.checkInDate, 'yyyy-MM-dd')}" ></span>
              <div>
                <div>
                  <span th:text="${'퇴실날짜: '+#dates.format(orderItem.checkOutDate, 'yyyy-MM-dd')}" ></span>
                  <div>
            결제 예정 금액: <span th:text="${#strings.replace(#numbers.formatDecimal(orderItem.orderPrice * orderItem.count, 0, 'COMMA',2,'POINT'),'.00','')+'원'}" style="color: #ee4643;"></span>
                  </div>

                  <!--          <a th:href="@{/pay}" class="btn btn-outline-dark">결제하기</a>-->
<!--          <a th:href="@{/pay(trPricePlain=${orderItem.orderPrice * orderItem.count}, productNm=${orderItem.name}, checkInDate=${orderItem.checkInDate}, checkOutDate=${orderItem.checkOutDate})}" class="btn btn-outline-dark">결제하기</a>-->
                  <div th:if="${order.orderStatus == T(com.example.Order.Constant.OrderStatus).ORDER}">
                    <button type="button" class="btn btn-outline-dark" th:value="${order.orderId}" onclick="cancelOrder(this.value)">삭제</button>
                    <a th:href="@{/pay(trPricePlain=${orderItem.orderPrice * orderItem.count}, productNm=${orderItem.name}, checkInDate=${#dates.format(orderItem.checkInDate, 'yyyy-MM-dd')}, checkOutDate=${#dates.format(orderItem.checkOutDate, 'yyyy-MM-dd')}, loginUser=${#authentication.principal.username})}" class="btn btn-outline-dark">결제하기</a>

                  </div>
         </div>
      </div>
    </div>
  </div>
</div>

<!--&lt;!&ndash;  페이징처리&ndash;&gt;-->
<!--  <div th:with="start=${(orders.number/maxPage)*maxPage + 1}, end=(${(orders.totalPages == 0) ? 1 : (start + (maxPage - 1) < orders.totalPages ? start + (maxPage - 1) : orders.totalPages)})" >-->
<!--    <ul class="pagination justify-content-center">-->
<!--      <li class="page-item" th:classappend="${orders.number eq 0}?'disabled':''">-->
<!--        <a th:href="@{'/orders/' + ${orders.number-1}}" aria-label='Previous' class="page-link">-->
<!--          <span aria-hidden='true'>Previous</span>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${orders.number eq page-1}?'active':''">-->
<!--        <a th:href="@{'/orders/' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>-->
<!--      </li>-->
<!--      <li class="page-item" th:classappend="${orders.number+1 ge orders.totalPages}?'disabled':''">-->
<!--        <a th:href="@{'/orders/' + ${orders.number+1}}" aria-label='Next' class="page-link">-->
<!--          <span aria-hidden='true'>Next</span>-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>