<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 조회</title>

  <link rel="stylesheet" th:href="@{/css/boardHeaderFooter.css}">
  <link rel="stylesheet" th:href="@{/css/boardList.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script th:inline="javascript">
    $(document).ready(function() {
      var bno = [[${dto.bno}]];
      var viewCountElement = $("#viewCount");

      // 조회수 갱신을 위한 AJAX 요청 보내기
      $.post('/board/updateViewCount', { bno: bno }, function(updatedViewCount) {
        console.log('조회수가 성공적으로 갱신되었습니다');
        // 조회수 업데이트
        viewCountElement.text(updatedViewCount);
      });
    });
  </script>

  <style>
    @font-face {
      font-family: 'Pretendard-Regular';
      src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
      font-weight: 400;
      font-style: normal;
    }
  body {
    background-color: #FDFAFF;
  }
    h1 {
      font-family: 'Pretendard-Regular';
      text-align:center;
    }
    .p1,p1_subtitle, p1_title {
      font-family: 'Pretendard-Regular';
      text-size:25px;
    }

    form {
      font-family: 'Pretendard-Regular';
      width:60%;
      text-align:center;
      margin-left:auto;
      margin-right:auto;
      background: #ffffff;

    }
    .form-group {
      margin-bottom: 15px; /* Add some margin between form groups */
      text-align:left;
    }

    label {
      margin-bottom: 5px; /* Add margin below labels */
      text-align:left;

    }
    .result_btn {
      text-align:center;
    }
    .comment_btn {
      width:80%;
      margin-left:auto;
      margin-right:auto;
      text-align:right;
    }
    .reply_content {
      font-family: 'Pretendard-Regular';
      width:60%;
      margin-left:auto;
      margin-right:auto;
      text-align: left;
      boder: solid 1px #ccc;
      border-radius: 20px;
      background-color: #ffffff;
    }
  </style>

</head>
<body>

<!-- HEADER -->
<header class="header" id="header">
  <!--NAV CONTAINER 1-->
  <nav class="nav container">
    <a href="/" class="nav__logo-eng"> <i class="ri-earth-line"></i> Kick The World </a>

    <!--NAV MENU-->
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="/" ><b>마이페이지</b></a>
        </li>

        <!-- 8번 브랜치에서 추가-->
        <li class="nav__item">
          <a class="nav__link" href="/board/list" ><b>여행게시판</b></a>
        </li>
        <li class="nav__item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
          <a class="nav__link" href="/admin" th:href="@{/admin}" ><b>관리자페이지</b></a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="/members/login" th:href="@{/members/login}"
             th:if="${#authorization.expression('isAnonymous()')}"><b>로그인</b></a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="/members/new" th:href="@{/members/new}"
             th:if="${#authorization.expression('isAnonymous()')}"><b>회원가입</b></a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="/members/logout" th:href="@{/members/logout}"
             th:if="${#authorization.expression('isAuthenticated()')}"><b>로그아웃</b></a>
        </li>

        <i class="ri-close-line nav__close" id="nav-close"></i>
      </ul>
    </div>
    <div class="nav__toggle" id="nav-toggle">
      <i class="ri-function-line"></i>
    </div>
  </nav>

  <!--NAV CONTAINER 2-->
  <nav class="nav__container-main">
    <div class="nav__menu" id="nav-menu-main">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/main/trips" class="nav__link"><i class="ri-map-pin-line"></i> 여행지</a>
        </li>
        <li class="nav__item">
          <a href="/main/stays" class="nav__link"><i class="ri-hotel-bed-line"></i> 숙소</a>
        </li>
        <li class="nav__item">
          <a href="/main/eaterys" class="nav__link"><i class="ri-restaurant-line"></i> 맛집</a>
        </li>
        <li class="nav__item">
          <a href="/" class="nav__link"><i class="ri-heart-3-line"></i> 추천코스</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<form>

  <table class="table" style="border: solid 1px #ccc; ">
    <tr>
      <td><b>글 번호<p class="p1" th:text="${dto.bno}"></p></b></td>
      <td><b>제목<p class="p1" th:text="${dto.title}"></p></b></td>
      <td><b>작성자<p class="p1" th:text="${dto.writer}"></p></b></td>
    </tr>
  </table>

  <div class="form-group" style="height: 300px; border: solid 1px #ccc;">
    <p class="p1" th:text="${dto.content}"></p>
  </div>

  <table class="table">
    <tr>
      <td><label>등록일</label></td>
      <td><p class="p1" th:text="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}"></p></td>
      <td><label>수정일</label></td>
      <td><p class="p1" th:text="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}"></p></td>
      <td><label>조회수</label></td>
      <td colspan="3"><p class="p1" id="viewCount" th:text="${dto.viewCount}"></p></td>
    </tr>
  </table>
</form>


<div class="result_btn">
<a th:href="@{/board/modify(bno=${dto.bno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
  <button type="button" class="btn btn-outline-dark">수정</button>
</a>

<a th:href="@{/board/list(page=${requestDTO.page}, type=${requestDTO.page}, keyword=${requestDTO.keyword})}">
  <button type="button" class="btn btn-outline-dark">글 목록</button>
</a>

  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">댓글</h5>
          <button type="button" class="btn btn-outline-dark replyClose" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input class="form-control" type="textarea" name="replyText" placeholder="댓글내용">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="replier" placeholder="작성자">
            <input type="hidden" name="rno">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark replyRemove">삭제</button>
          <button type="button" class="btn btn-outline-dark replyModify">수정</button>
          <button type="button" class="btn btn-outline-dark replySave">저장</button>
          <button type="button" class="btn btn-outline-dark replyClose" data-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="comment_btn">
      <h5><button class="btn btn-outline-dark addReply"> 댓글 등록 </button></h5>
    </div>
    <div style="text-align:center; ">
      <h5 class="replyCount">댓글 [[${dto.replyCount}]] 개</h5>
    </div>
    <div class="replyList" >

    </div>
  </div>
</div>
<!-- FOOTER -->
<footer class="footer section">
  <div class="footer__container container grid">
    <div class="footer__content grid">
      <div class="footer__data">
        <h3 class="footer__title">Developer</h3>
        <div>
          <a href="https://www.facebook.com/" target="_blank" class="footer__social">
            <span class="footer__name">김은정</span><i class="ri-github-fill"></i>
          </a>
          <a href="https://twitter.com/" target="_blank" class="footer__social">
            <span class="footer__name">박의연</span><i class="ri-github-fill"></i>
          </a>
        </div>
      </div>


      <div class="footer__data">
        <h3 class="footer__subtitle">Company</h3>
        <ul>
          <li class="footer__item">
            <a href="" class="footer__link">Team</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Plan y Pricing</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Become a member</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__rights">
      <p class="footer__copy">&#169; 2023 Balance Booster. All rigths reserved.</p>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script th:inline="javascript">

  // var csrfToken = $("meta[name='_csrf']").attr("content");

  var bno = [[${dto.bno}]];  //게시글 번호
  var listGroup = $(".replyList");

  //댓글처리
    function loadJSONData() {
      $.getJSON('/replies/board/'+ bno, function(arr) {
        console.log(arr);

        var str="";

        //날짜 처리
        function formatTime(str) {
          var date = new Date(str);
          return date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes();
        }

        $('.replyCount').html("댓글  " + arr.length);

        $.each(arr, function(idx, reply) {
          console.log(reply);
          str += '   <div class="reply_content" data-rno = "'+reply.rno+'">';   //card-body = reply_content
          str += '   <p class="p1_subtitle"><b>'+reply.replier+'<b></p>';
          str += '   <p class="p1_title">'+reply.text+'</p>';
          str += '   <p>'+ formatTime(reply.regDate)+'</p>';
          str += '  </div>';
        })
        listGroup.html(str);
      });
    }

      $(document).ready(function() {
        var bno = [[${dto.bno}]];
        var listGroup = $(".replyList");

        $(".replyCount").click(function() {
          loadJSONData();
        })
        // 페이지 로딩 시 댓글 불러오기
        loadJSONData();
    });

  //모달창
  var modal = $('.modal');
    $(".replyClose").on("click", () => {
      modal.hide()
    });


    //댓글추가
    $(".addReply").click(function() {

      modal.modal('show');

      //댓글 입력하는 부분 초기화 시키기
      $('input[name="replyText"]').val('');
      $('input[name="replier"]').val('');

      $(".modal-footer .btn").hide();
      $(".replySave, .replyClose").show();
    })

    //댓글 선택
  $(document).on("click", '.replyList .reply_content', function() {
    var rno = $(this).data("rno");

    $("input[name='replyText']").val($(this).find('.p1_title').html());
    $("input[name='replier']").val($(this).find('.p1_subtitle').html());
    $("input[name='rno']").val(rno);

    $(".modal-footer .btn").hide();
    $(".replyRemove, .replyModify, .replyClose").show();
    $('.modal').show();
  });

    //댓글 삭제
  $('.replyRemove').on("click", function(){
    var rno = $("input[name='rno']").val();

    $.ajax({
      url: '/replies/' + rno, // 서버 엔드포인트에 따라 URL 조정
      method: 'delete',
      // beforeSend: function(xhr) {
      //   xhr.setRequestHeader('X-CSRF-TOKEN', csrfToken);
      // },
      success: function(result) {
        console.log("result: " + result);
        if(result === 'success') {
          alert("댓글이 삭제되었습니다");
          modal.hide();
          loadJSONData();
        }
      },
      error: function(xhr, status, error) {
        console.error("댓글 삭제 오류:", error);
      }
    });
  });



  // 댓글저장
    $(".replySave").click(function() {
      var bno = [[${dto.bno}]];

      var reply = {
        bno: bno,
        text: $('input[name="replyText"]').val(),
        replier: $('input[name="replier"]').val()
      }
      console.log(reply);

      $.ajax({
        url: '/replies',
        method: 'post',
        data: JSON.stringify(reply),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',

        // beforeSend: function (xhr) {
        //   xhr.setRequestHeader('X-CSRF-TOKEN', csrfToken);
        // },

        success: function(data) {
          console.log(data);
          var newRno = parseInt(data);
          alert("댓글이 등록되었습니다.")
          modal.modal('hide');
          loadJSONData();
        },
      })
    })
</script>

</body>
</html>