<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.7.0/remixicon.css">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/login_test.css}">
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Login</title>
</head>
<body>
<!-- BACKGROUND -->
<img th:src="@{/images/login__bg.jpg}" alt="image" class="login__bg">

<!-- HEADER -->
<header class="login__header">
    <div class="header__container">
        <a th:href="@{/}">
            <i class="ri-earth-line"></i>Kick The World
        </a>
    </div>
</header>

<!--LOGIN-->
<div class="login">

    <div class="info">
        <div class="info__logo"><i class="ri-information-2-line"></i></div>
        <h1>Test Account Info</h1>
        <p>관리자
            <span>admin1</span>
            <span>12345678</span>
        </p>
        <p>사용자
            <span>user1</span>
            <span>12345678</span>
        </p>
    </div>
    <!--LOGIN FORM-->
    <form role="form" method="post" th:action="@{/members/login}" class="login__form">
        <div class="login__logo">
            <a th:href="@{/}">
            <i class="ri-earth-line"></i>
            Kick The World</a>
        </div>

        <p class="login__logo-subtitle">함께하는 여행, 킥더월드</p>

        <h1 class="login__title">Login</h1>
        <div class="login__inputs">
            <!-- ID -->
            <div class="login__box">
                <input type="text" name="memId" placeholder="아이디 입력" required class="login__input">
                <i class="ri-account-circle-line"></i>
            </div>
            <!-- PASSWORD -->
            <div class="login__box">
                <input type="password" name="password" id="password"
                       placeholder="비밀번호 입력" required class="login__input">
                <i class="ri-lock-2-line"></i>
            </div>
        </div>
        <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}" style="color:red;"></p>
        <button type="submit" class="login__button">로그인</button>

        <div class="login__register">
            아직 회원이 아니신가요? &nbsp&nbsp <a th:href="@{/members/new}">회원가입</a>
        </div>

        <div class="login__social">
            <i class="ri-kakao-talk-fill"></i>
            <i class="ri-google-fill"></i>
            <i class="ri-facebook-fill"></i>
            <i class="ri-netflix-line"></i>
        </div>
    </form>
</div>
</body>
</html>