<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Sign Up</title>
</head>
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });
    </script>
<body>
<div class="signup">
    <!--BACKGROUND IMG-->
    <img th:src="@{/images/login__bg.jpg}" alt="image" class="login__bg">

    <!-- HEADER -->
    <header class="signup__header">
        <div class="header__container">
            <a th:href="@{/}">
                <i class="ri-earth-line"></i>Kick The World
            </a>
        </div>
    </header>

    <form th:action="@{/members/new}" method="post"
          th:object="${memberFormDto}"
          role="form" class="signup__form">

        <div class="signup__logo">
            <i class="ri-earth-line"></i>
            Kick The World
        </div>

        <p class="signup__logo-subtitle">함께하는 여행, 킥더월드</p>

        <h1 class="signup__title">Sign Up</h1>

        <div class="signup__inputs">
            <!-- NAME -->
            <div class="signup__box">
                <input type="text" th:field="*{name}" placeholder="이름 입력" required class="signup__input">
                <i class="ri-user-line"></i>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
            </div>

            <!-- ID -->
            <div class="signup__box">
                <input type="text" th:field="*{memId}" placeholder="아이디 입력" required class="signup__input">
                <i class="ri-account-circle-line"></i>
                <p th:if="${#fields.hasErrors('memId')}" th:errors="*{memId}" class="fieldError">Incorrect data</p>
            </div>

            <!-- PASSWORD -->
            <div class="signup__box">
                <input type="password" th:field="*{password}" placeholder="비밀번호 입력" required class="signup__input">
                <i class="ri-lock-2-line"></i>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect data</p>
            </div>

            <!-- EMAIL -->
            <div class="signup__box">
                <input type="email" th:field="*{email}" placeholder="이메일 주소 입력" required class="signup__input">
                <i class="ri-mail-line"></i>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>
            </div>

            <!-- PHONE -->
            <div class="signup__box">
                <input type="text" th:field="*{phonenumber}" placeholder="전화번호 입력" required class="signup__input">
                <i class="ri-phone-line"></i>
                <p th:if="${#fields.hasErrors('phonenumber')}" th:errors="*{phonenumber}" class="fieldError">Incorrect data</p>
            </div>

            <!-- ADDRESS -->
            <div class="signup__box">
                <input type="text" th:field="*{address}" placeholder="주소 입력" required class="signup__input">
                <i class="ri-home-2-line"></i>
                <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError">Incorrect data</p>
            </div>

        </div>

        <button type="submit" class="signup__button">회원가입</button>
<!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->

        <div class="signup__register">
            이미 회원이신가요? &nbsp&nbsp <a th:href="@{/}"> 로그인 </a>
        </div>

        <div class="signup__social">
            <i class="ri-kakao-talk-fill"></i>
            <i class="ri-google-fill"></i>
            <i class="ri-facebook-fill"></i>
            <i class="ri-netflix-line"></i>
        </div>
    </form>
</div>
</body>
</html>