<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  &lt;!&ndash; 헤드 컨텐츠 추가 &ndash;&gt;-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash; 회원 수정 폼 컨텐츠 &ndash;&gt;-->
<!--<form th:object="${member}" th:action="@{/members/update}" method="post">-->
<!--  &lt;!&ndash; 회원 정보 수정을 위한 폼 필드 추가 &ndash;&gt;-->
<!--  <label for="name">이름:</label>-->
<!--  <input type="text" id="name" name="name" th:field="*{name}" required>-->

<!--  <label for="phonenumber">전화번호:</label>-->
<!--  <input type="text" id="phonenumber" name="phonenumber" th:field="*{phonenumber}" required>-->

<!--  <label for="address">주소:</label>-->
<!--  <input type="text" id="address" name="address" th:field="*{address}" required>-->

<!--  <button type="submit">수정</button>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->