<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
  <link rel="stylesheet" th:href="@{/css/boardHeaderFooter.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>

<!-- ADMIN PAGE INTERNAL STYLE -->
<style>

  /*@font-face {*/
  /*  font-family: 'Pretendard-Regular';*/
  /*  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');*/
  /*  font-weight: 400;*/
  /*  font-style: normal;*/
  /*}*/

  /*.admin-button {*/
  /*  font-family: 'Pretendard-Regular';*/
  /*  font-size: 20px;*/
  /*  font-weight:bold;*/
  /*  background-color: white;*/
  /*  border-radius: 5px;*/
  /*  border: 1px solid #161616;*/
  /*  padding:30px;*/
  /*  margin:20px;*/
  /*  justify-content: center;*/
  /*  text-align:center;*/
  /*}*/

</style>
<body>
<!-- HEADER -->
<header class="header" id="header">
  <!--NAV CONTAINER 1-->
  <nav class="nav container">
    <a href="/" class="nav__logo-eng"> <i class="ri-earth-line"></i> Kick The World </a>

    <!--NAV MENU-->
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="/" ><b>마이페이지</b></a>
        </li>

        <!-- 8번 브랜치에서 추가-->
        <li class="nav__item">
          <a class="nav__link" href="/board/list" ><b>여행게시판</b></a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="/admin" th:href="@{/admin}" ><b>관리자페이지</b></a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="/members/login" th:href="@{/members/login}"
             th:if="${#authorization.expression('isAnonymous()')}"><b>로그인</b></a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="/members/new" th:href="@{/members/new}"
             th:if="${#authorization.expression('isAnonymous()')}"><b>회원가입</b></a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="/members/logout" th:href="@{/members/logout}"
             th:if="${#authorization.expression('isAuthenticated()')}"><b>로그아웃</b></a>
        </li>

        <i class="ri-close-line nav__close" id="nav-close"></i>
      </ul>
    </div>
    <div class="nav__toggle" id="nav-toggle">
      <i class="ri-function-line"></i>
    </div>
  </nav>

  <!--NAV CONTAINER 2-->
  <nav class="nav__container-main">
    <div class="nav__menu" id="nav-menu-main">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/main/trips" class="nav__link"><i class="ri-map-pin-line"></i> 여행지</a>
        </li>
        <li class="nav__item">
          <a href="/main/stays" class="nav__link"><i class="ri-hotel-bed-line"></i> 숙소</a>
        </li>
        <li class="nav__item">
          <a href="/main/eaterys" class="nav__link"><i class="ri-restaurant-line"></i> 맛집</a>
        </li>
        <li class="nav__item">
          <a href="/" class="nav__link"><i class="ri-heart-3-line"></i> 추천코스</a>
        </li>
      </ul>
    </div>
  </nav>
</header>



<!-- ADMIN PAGE -->
<!--<div>-->
<!--  <div class="admin-button">-->
<!--    <hr class="my-4">-->
<!--  <div style="text-align:center;"></div>-->
<!--  <button type="button" th:onclick="|location.href='@{/admin/stays}'|">숙소 전체 관리</button>-->
<!--  <button type="button" id="stay-create-btn" th:onclick="|location.href='@{/admin/stay/new}'|">숙소등록</button>-->
<!--  <button type="button" th:onclick="|location.href='@{/admin/trip/new}'|">여행지등록</button>-->
<!--  <button>음식점 등록</button>-->
<!--  <button>회원 관리</button>-->
<!--  </div>-->
<!--</div>-->

<!--FOOTER -->
<footer class="footer section">
  <div class="footer__container container grid">
    <div class="footer__content grid">
      <div class="footer__data">
        <h3 class="footer__title">Developer</h3>
        <div>
          <a href="https://www.facebook.com/" target="_blank" class="footer__social">
            <span class="footer__name">김은정</span><i class="ri-github-fill"></i>
          </a>
          <a href="https://twitter.com/" target="_blank" class="footer__social">
            <span class="footer__name">박의연</span><i class="ri-github-fill"></i>
          </a>
        </div>
      </div>


      <div class="footer__data">
        <h3 class="footer__subtitle">Company</h3>
        <ul>
          <li class="footer__item">
            <a href="" class="footer__link">Team</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Plan y Pricing</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Become a member</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__rights">
      <p class="footer__copy">&#169; 2023 Balance Booster. All rigths reserved.</p>
    </div>
  </div>
</footer>



</body>
</html>
