<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- REMIX ICONS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
  <!-- SWIPER CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <!-- CSS -->
  <link rel="stylesheet" th:href="@{/css/main_test.css}">
  <!-- TITLE -->
  <title>Kick The World</title>
</head>
<body>
<!-- HEADER -->
<header class="header" id="header" >
  <!--NAV CONTAINER 1-->
  <nav class="nav container">
    <a href="/" class="nav__logo-eng"> <i class="ri-earth-line"></i> Kick The World </a>

    <!--NAV MENU-->
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
          <a class="nav__link" href="/admin" th:href="@{/admin}" ><b>관리자페이지</b></a>
        </li>
        <li class="nav__item" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
          <a class="nav__link" href="/admin" th:href="@{/mypage}" ><b>마이페이지</b></a>
        </li>
        <li class="nav__item">
          <a class="nav__link" th:href="@{/board/list}" ><b>여행게시판</b></a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="/members/login" th:href="@{/members/login}" th:if="${#authorization.expression('isAnonymous()')}"><b>로그인</b></a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="/members/new" th:href="@{/members/new}" th:if="${#authorization.expression('isAnonymous()')}"><b>회원가입</b></a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="/members/logout" th:href="@{/members/logout}" th:if="${#authorization.expression('isAuthenticated()')}">
            <span th:text="'[' + ${#authentication.principal.username} + ']' + '님 환영합니다! '"></span>&nbsp<b>로그아웃</b></a>
        </li>
      </ul>
    </div>
  </nav>
  <!--NAV CONTAINER 2-->
  <nav class="nav__container-main">
    <div class="nav__menu" id="nav-menu-main">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/main/trips" class="nav__link"><i class="ri-map-pin-line"></i> 여행지</a>
        </li>
        <li class="nav__item">
          <a href="/main/stays" class="nav__link"><i class="ri-hotel-bed-line"></i> 숙소</a>
        </li>
        <li class="nav__item">
          <a href="/main/eaterys" class="nav__link"><i class="ri-restaurant-line"></i> 맛집</a>
        </li>
        <li class="nav__item">
          <a href="/search" class="nav__link"><i class="ri-heart-3-line"></i> 추천코스</a>
        </li>

      </ul>
    </div>
  </nav>
</header>
<!-- MAIN -->
<main class="main">
  <!-- HOME -->
  <section class="home" id="home">
    <img th:src="@{images/main/home1.jpg}" alt="home main image" class="home__img">
    <div class="home__container container grid">
      <div class="home__data">
        <br><h3 class="home__data-title-kor" style="font-size:25px;">
          함께하는 <b> 힐링여행, </b> 국내로 떠나볼까요 ?
        </h3>
      </div>
      <div class="home__social">
        <!--학교-->
        <a href="https://cs.skuniv.ac.kr/" target="_blank" class="home__social-link">
          <i class="ri-leaf-fill"></i>
        </a>
        <!--인스타그램-->
        <a href="https://instagram.com/kicktheworld.official?igshid=OGQ5ZDc2ODk2ZA==" target="__blank" class="home__social-link">
          <i class="ri-instagram-fill"></i>
        </a>
        <!--깃허브-->
        <a href="https://github.com/SKU-PROJECT/KTW_project" target="__blank" class="home__social-link">
          <i class="ri-github-fill"></i>
        </a>
      </div>
    </div>
  </section>

  <!-- ABOUT -->
  <section class="about section" id="about">
    <div class="about__container container grid">
      <div class="about__data">
        <h2 class="section__title about__title">당신에게 보여주고 싶은 곳 </h2>
        <p class="about__description">
          Kick The World는 여러분들을 위한 장소들을 찾아 안내하며,<br>여행 중 최고의 순간이 되도록 도와드립니다.<br>
          <br>함께하는 여행, 지금 떠날 준비를 해보세요.
        </p>
        <a th:href="@{/main/trips}" class="button">여행지 검색</a>
      </div>

      <div class="about__img">
        <div class="about__img-overlay">
          <img th:src="@{images/main/about1.jpg}" alt="about images" class="about__img-one">
        </div>

        <div class="about__img-overlay">
          <img th:src="@{images/main/about2.jpg}" alt="about image" class="about__img-two">
        </div>
      </div>
    </div>
  </section>

  <!-- DISCOVER -->
  <section class="discover section" id="discover">
    <h2 class="section__title discover__title">매력적인 여행지를 둘러보세요</h2>
    <p class="discover__description">
      당신의 마음을 사로잡을 최고의 장소들이 기다리고 있습니다.
    </p>

    <div class="discover__container container swiper">
      <div class="swiper-wrapper">
        <!-- DISCOVER1 -->
        <div class="discover__card swiper-slide">
          <a th:href="@{'/main/trips' }">
          <img th:href="@{/main/trips}" th:src="@{images/main/discover1.jpg}" alt="discover image" class="discover__img">
          <div class="discover__data">
            <h2 class="discover__img-title">경주</h2>
            <span class="discover__img-description">경상북도 경주시</span>
          </div></a>
        </div>

        <!-- DISCOVER2 -->
        <div class="discover__card swiper-slide">
          <a th:href="@{'/main/trips' }">
          <img th:href="@{/main/trips}" th:src="@{images/main/discover2.png}" alt="discover image" class="discover__img">
          <div class="discover__data">
            <h2 class="discover__img-title">부산</h2>
            <span class="discover__img-description">부산광역시</span>
          </div></a>
        </div>

        <!-- DISCOVER3 -->
        <div class="discover__card swiper-slide">
          <a th:href="@{'/main/trips' }">
          <img th:href="@{/main/trips}" th:src="@{images/main/discover3.jpg}" alt="discover image" class="discover__img">
          <div class="discover__data">
            <h2 class="discover__img-title">강릉</h2>
            <span class="discover__img-description">강원특별자치도 강릉시</span>
          </div></a>
        </div>

        <!-- DISCOVER4 -->
        <div class="discover__card swiper-slide">
          <a th:href="@{'/main/trips' }">
          <img th:href="@{/main/trips}" th:src="@{images/main/discover4.jpg}" alt="discover image" class="discover__img">
          <div class="discover__data">
            <h2 class="discover__img-title">제주</h2>
            <span class="discover__img-description">제주특별자치도</span>
          </div></a>
        </div>

        <!-- DISCOVER5 -->
        <div class="discover__card swiper-slide">
          <a th:href="@{'/main/trips' }">
          <img th:href="@{/main/trips}" th:src="@{images/main/discover5.jpg}" alt="discover image" class="discover__img">
          <div class="discover__data">
            <h2 class="discover__img-title">안산</h2>
            <span class="discover__img-description">경기도 안산시</span>
          </div></a>
        </div>

        <!-- DISCOVER6 -->
        <div class="discover__card swiper-slide">
          <a th:href="@{'/main/trips' }">
          <img th:href="@{/main/trips}" th:src="@{images/main/discover6.jpg}" alt="discover image" class="discover__img">
          <div class="discover__data">
            <h2 class="discover__img-title">창원</h2>
            <span class="discover__img-description">경상남도 창원시</span>
          </div></a>
        </div>

        <!-- DISCOVER7 -->
        <div class="discover__card swiper-slide">
          <a th:href="@{'/main/trips' }">
          <img th:href="@{/main/trips}" th:src="@{images/main/discover7.jpg}" alt="discover image" class="discover__img">
          <div class="discover__data">
            <h2 class="discover__img-title">함안</h2>
            <span class="discover__img-description">경상남도 함안군</span>
          </div></a>
        </div>
      </div>
    </div>
  </section>

  <!-- VIDEO -->
  <section class="video section">
    <h2 class="section__title">영상으로 느껴보는 여유로운 여행</h2>

    <div class="video__container container">
      <p class="video__description">
<!--        뭐라고 쓰지-->
        새로운 세상의 아름다움과 다양함을 만날 수 있습니다
      </p>

      <div class="video__content">
        <video id="video-file">
          <source th:src="@{video/video.mp4}" type="video/mp4">
        </video>

        <button class="button button--flex video__button" id="video-button">
          <i class="ri-play-line video__button-icon" id="video-icon"></i>
        </button>
      </div>
    </div>
  </section>

  <!-- PLACE -->
  <section class="place section" id="place">
    <h2 class="section__title">원하는 숙소를 선택하세요</h2>
    <p class="discover__description">
      어디서든 편히 쉴 수 있도록, 전국의 숙소가 준비되어 있습니다
    </p>

    <div class="place__container container grid">

      <!-- PLACES CARD 1 -->
      <div class="place__card">
        <a th:href="@{/main/stays}">
        <img th:src="@{images/main/place1-hotel.jpg}" alt="" class="place__img">

        <div class="place__content">
          <div class="place__data">
            <h3 class="place__title">호텔</h3>
            <span class="place__subtitle">서울</span>
            <span class="place__price">₩129,000~</span>
          </div>
        </div>

        <button class="button button--flex place__button">
          <a th:href="@{/main/stays}"><i class="ri-arrow-right-line"></i></a>
        </button></a>
      </div>

      <!-- PLACES CARD 2 -->
      <div class="place__card">
        <a th:href="@{/main/stays}">
        <img th:href="@{/main/stays}" th:src="@{images/main/place2-pension.jpg}" alt="" class="place__img">

        <div class="place__content">
          <div class="place__data">
            <h3 class="place__title">펜션</h3>
            <span class="place__subtitle">경기/인천</span>
            <span class="place__price">₩200,000~</span>
          </div>
        </div>

        <button class="button button--flex place__button">
          <a th:href="@{/main/stays}"><i class="ri-arrow-right-line"></i></a>
        </button></a>
      </div>

      <!-- PLACES CARD 3 -->
      <div class="place__card">
        <a th:href="@{/main/stays}">
        <img th:href="@{/main/stays}" th:src="@{images/main/place3-pool.jpg}" alt="" class="place__img">

        <div class="place__content">
          <div class="place__data">
            <h3 class="place__title">풀빌라</h3>
            <span class="place__subtitle">전남</span>
            <span class="place__price">₩390,000~</span>
          </div>
        </div>

        <button class="button button--flex place__button">
          <a th:href="@{/main/stays}"><i class="ri-arrow-right-line"></i></a>
        </button></a>
      </div>

      <!-- PLACES CARD 4 -->
      <div class="place__card">
        <a th:href="@{/main/stays}">
        <img  th:href="@{/main/stays}" th:src="@{images/main/place4-risort.jpg}" alt="" class="place__img">

        <div class="place__content">
          <div class="place__data">
            <h3 class="place__title">리조트</h3>
            <span class="place__subtitle">경남/부산</span>
            <span class="place__price">₩290,000~</span>
          </div>
        </div>

        <button class="button button--flex place__button">
          <a th:href="@{/main/stays}"><i class="ri-arrow-right-line"></i></a>
        </button></a>

      </div>

      <!-- PLACES CARD 5 -->
      <div class="place__card">
        <a th:href="@{/main/stays}">
        <img th:href="@{/main/stays}" th:src="@{images/main/place5-camping.jpg}" alt="" class="place__img">

        <div class="place__content">
          <div class="place__data">
            <h3 class="place__title">글램핑/캠핑</h3>
            <span class="place__subtitle">경기</span>
            <span class="place__price">₩59,000~</span>
          </div>
        </div>

        <button class="button button--flex place__button">
          <a th:href="@{/stays}"><i class="ri-arrow-right-line"></i></a>
        </button></a>
      </div>

      <!-- PLACES CARD 6 -->
      <div class="place__card">
        <a th:href="@{/main/stays}">
        <img th:src="@{images/main/place6-guest.jpg}" alt="" class="place__img">
        <div class="place__content">
          <div class="place__data">
            <h3 class="place__title">게스트 하우스</h3>
            <span class="place__subtitle">제주</span>
            <span class="place__price">₩69,000~</span>
          </div>
        </div>
        <button class="button button--flex place__button">
          <a th:href="@{/main/stays}"><i class="ri-arrow-right-line"></i></a>
        </button></a>
      </div>
    </div>
  </section>

  <!-- SPONSOR -->
  <section class="sponsor section">
    <h2 class="section__title">도움을 주신 분께 감사한 마음을 전합니다</h2>
    <p class="sponsor__description">
      도움에 힘입어, 더 나은 Kick The World 되도록 노력하겠습니다
    </p>

    <div class="sponsor__container container grid">

      <div class="sponsor__content">
        <img th:src="@{images/main/sponsor1.png}" alt="" class="sponsor__img">
      </div>
      <div class="sponsor__content">
        <img th:src="@{images/main/sponsor2.png}" alt="" class="sponsor__img">
      </div>
      <div class="sponsor__content">
        <img th:src="@{images/main/sponsor3.png}" alt="" class="sponsor__img">
      </div>
      <div class="sponsor__content">
        <img th:src="@{images/main/sponsor4.png}" alt="" class="sponsor__img">
      </div>
      <div class="sponsor__content">
        <img th:src="@{images/main/sponsor5.png}" alt="" class="sponsor__img">
      </div>
    </div>
  </section>
</main>

<!-- FOOTER -->
<footer class="footer section" >
  <div class="footer__container container grid">
    <div class="footer__content grid">
      <div class="footer__data">
        <h3 class="footer__title">Developer</h3>
        <p class="footer__description">
          SKUniv<br>Software<br>
        </p>
        <div>
          <a href="https://www.facebook.com/" target="_blank" class="footer__social">
            <span class="footer__name">김은정</span><i class="ri-github-fill"></i>
          </a>
          <a href="https://twitter.com/" target="_blank" class="footer__social">
            <span class="footer__name">박의연</span><i class="ri-github-fill"></i>
          </a>
        </div>
      </div>

      <div class="footer__data">
        <h3 class="footer__subtitle">About</h3>
        <ul>
          <li class="footer__item">
            <a href="" class="footer__link">About Us</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Features</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">New & Blog</a>
          </li>
        </ul>
      </div>

      <div class="footer__data">
        <h3 class="footer__subtitle">Company</h3>
        <ul>
          <li class="footer__item">
            <a href="" class="footer__link">Team</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Plan y Pricing</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Become a member</a>
          </li>
        </ul>
      </div>

      <div class="footer__data">
        <h3 class="footer__subtitle">Support</h3>
        <ul>
          <li class="footer__item">
            <a href="" class="footer__link">FAQs</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Support Center</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__rights">
      <p class="footer__copy">&#169; 2023 Balance Booster. All rights reserved.</p>
    </div>
  </div>
</footer>

<!-- SWIPER JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- MAIN JS -->
<script th:src="@{js/main_test.js}"></script>