<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICON -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css">
    <!-- ADMIN CSS -->
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <title>my page</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<!--- SIDE BAR -->
<div class="side-bar">
<!--    <div class="logo-name">-->
<!--        <a th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--            <p style="color: white" th:text="'[' + ${#authentication.principal.username} + ']' + '님 환영합니다! '"></p></a>-->
<!--    </div>-->
    <div class="logo-name">
        <h2 style="color: white"> 안녕하세요, 회원님! </h2>
    </div>
    <ul>
        <li><i class="ri-map-pin-line" style="font-size: 1.5rem;"></i><a th:href="@{/main/trips}"> &nbsp 여행지</a></li>
        <li><i class="ri-hotel-bed-line" style="font-size: 1.5rem;"></i><a th:href="@{/main/stays}"> &nbsp 숙소</a></li>
        <li><i class="ri-restaurant-line" style="font-size: 1.5rem;"></i><a th:href="@{/main/eaterys}"> &nbsp 맛집</a></li>
        <li><i class="ri-heart-3-line" style="font-size: 1.5rem;"></i><a th:href="@{/search}"> &nbsp 추천코스</a></li>
        <li><i class="ri-edit-line" style="font-size: 1.5rem;"></i><a th:href="@{/board/list}"> &nbsp 여행게시판</a></li>
        <li><i class="ri-settings-4-line" style="font-size: 1.5rem;"></i><a th:href="@{/notready}"> &nbsp 회원정보 수정</a></li>
    </ul>
</div>
<!-- HEADER -->
<div class="container">
    <div class="header">
        <div class="nav">
            <ul>
                <li>
                    <a th:href="@{/}"><i class="ri-earth-line"></i> Kick The World </a>
                </li>

                <li>
                    <a th:href="@{/members/logout}" th:if="${#authorization.expression('isAuthenticated()')}">
                        <span th:text="'[' + ${#authentication.principal.username} + ']' + '님 환영합니다! '"></span>&nbsp<b>로그아웃</b></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <div class="cards">
            <!-- CARD 1 - STAY -->
            <div class="card">
                <div class="box">
                    <a th:href="@{/}" class="link" >
                        <h3>회원 정보</h3>
                        <p>Member</p>
                    </a>
                </div>
                <div class="icon-design">
                    <img th:src="@{/images/admin/admin-setting.png}" alt="">
                </div>
            </div>
            <!-- CARD 1 -->
            <div class="card" >
                <div class="box">
                    <a th:href="@{/orders}" class="link" >
                        <h3>결제 대기</h3>
                        <p>Reservation</p>
                    </a>
                </div>
                <div class="icon-design">
                    <img th:src="@{/images/admin/admin-waiting.png}" alt="">
                </div>
            </div>

            <!-- CARD 2 -->
            <div class="card" >
                <div class="box">
                    <a th:href="@{/list}" class="link" >
                        <h3>결제 내역</h3>
                        <p>Payment Detail</p>
                    </a>
<!--                    <div th:unless="${#authorization.expression('hasRole(''ROLE_USER'')')}">-->
<!--                        <button onclick="showLoginAlert()">결제내역</button>-->
<!--                    </div>-->
                </div>
                <div class="icon-design">
                    <img th:src="@{/images/admin/admin-pay.png}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function showLoginAlert() {
        alert('로그인이 필요합니다.');
        window.location.href = '/members/login';
    }
</script>
</body>
</html>























<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>myPage</title>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">-->
<!--    <link rel="stylesheet" th:href="@{/css/boardHeaderFooter.css}">-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">-->

<!--    <style>-->
<!--        body,header {-->
<!--            background-color: #FDFAFF;-->
<!--        }-->
<!--    </style>-->

<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; HEADER &ndash;&gt;-->
<!--<header class="header" id="header">-->
<!--    &lt;!&ndash;NAV CONTAINER 1&ndash;&gt;-->
<!--    <nav class="nav container">-->
<!--        <a href="/" class="nav__logo-eng"> <i class="ri-earth-line"></i> Kick The World </a>-->

<!--        &lt;!&ndash;NAV MENU&ndash;&gt;-->
<!--        <div class="nav__menu" id="nav-menu">-->
<!--            <ul class="nav__list">-->
<!--                <li class="nav__item">-->
<!--                    <a class="nav__link" href="/mypage" ><b>마이페이지</b></a>-->
<!--                </li>-->

<!--                &lt;!&ndash; 8번 브랜치에서 추가&ndash;&gt;-->
<!--                <li class="nav__item">-->
<!--                    <a class="nav__link" href="/board/list" ><b>여행게시판</b></a>-->
<!--                </li>-->
<!--                <li class="nav__item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">-->
<!--                    <a class="nav__link" href="/admin" th:href="@{/admin}" ><b>관리자페이지</b></a>-->
<!--                </li>-->
<!--                <li class="nav__item">-->
<!--                    <a class="nav__link" href="/members/login" th:href="@{/members/login}"-->
<!--                       th:if="${#authorization.expression('isAnonymous()')}"><b>로그인</b></a>-->
<!--                </li>-->

<!--                <li class="nav__item">-->
<!--                    <a class="nav__link" href="/members/new" th:href="@{/members/new}"-->
<!--                       th:if="${#authorization.expression('isAnonymous()')}"><b>회원가입</b></a>-->
<!--                </li>-->

<!--                <li class="nav__item">-->
<!--                    <a class="nav__link" href="/members/logout" th:href="@{/members/logout}"-->
<!--                       th:if="${#authorization.expression('isAuthenticated()')}"><b>로그아웃</b></a>-->
<!--                </li>-->

<!--                <i class="ri-close-line nav__close" id="nav-close"></i>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="nav__toggle" id="nav-toggle">-->
<!--            <i class="ri-function-line"></i>-->
<!--        </div>-->
<!--    </nav>-->

<!--    &lt;!&ndash;NAV CONTAINER 2&ndash;&gt;-->
<!--    <nav class="nav__container-main">-->
<!--        <div class="nav__menu" id="nav-menu-main">-->
<!--            <ul class="nav__list">-->
<!--                <li class="nav__item">-->
<!--                    <a href="/main/trips" class="nav__link"><i class="ri-map-pin-line"></i> 여행지</a>-->
<!--                </li>-->
<!--                <li class="nav__item">-->
<!--                    <a href="/main/stays" class="nav__link"><i class="ri-hotel-bed-line"></i> 숙소</a>-->
<!--                </li>-->
<!--                <li class="nav__item">-->
<!--                    <a href="/main/eaterys" class="nav__link"><i class="ri-restaurant-line"></i> 맛집</a>-->
<!--                </li>-->
<!--                <li class="nav__item">-->
<!--                    <a href="/" class="nav__link"><i class="ri-heart-3-line"></i> 추천코스</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
<!--</header>-->

<!--<div>-->
<!--    <div class="admin-button" style="margin-top:300px;">-->
<!--        <div style="text-align:center;">-->
<!--&lt;!&ndash;            <button type="button" id="stay-create-btn" th:onclick="|location.href='@{/}'|"> 찜리스트</button>&ndash;&gt;-->
<!--            <button type="button" th:if="${#authorization.expression('isAuthenticated()')}" th:onclick="|location.href='@{/}'|">회원정보수정</button>-->
<!--            <button type="button" th:if="${#authorization.expression('isAuthenticated()')}" th:onclick="|location.href='@{/orders}'|">예약대기</button>-->
<!--            <button type="button" th:if="${#authorization.expression('isAuthenticated()')}" th:onclick="|location.href='@{/list}'|">예약/결제내역</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash;FOOTER &ndash;&gt;-->
<!--<footer class="footer section">-->
<!--    <div class="footer__container container grid">-->
<!--        <div class="footer__content grid">-->
<!--            <div class="footer__data">-->
<!--                <h3 class="footer__title">Developer</h3>-->
<!--                <div>-->
<!--                    <a href="https://www.facebook.com/" target="_blank" class="footer__social">-->
<!--                        <span class="footer__name">김은정</span><i class="ri-github-fill"></i>-->
<!--                    </a>-->
<!--                    <a href="https://twitter.com/" target="_blank" class="footer__social">-->
<!--                        <span class="footer__name">박의연</span><i class="ri-github-fill"></i>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="footer__data">-->
<!--                <h3 class="footer__subtitle">Company</h3>-->
<!--                <ul>-->
<!--                    <li class="footer__item">-->
<!--                        <a href="" class="footer__link">Team</a>-->
<!--                    </li>-->
<!--                    <li class="footer__item">-->
<!--                        <a href="" class="footer__link">Plan y Pricing</a>-->
<!--                    </li>-->
<!--                    <li class="footer__item">-->
<!--                        <a href="" class="footer__link">Become a member</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="footer__rights">-->
<!--            <p class="footer__copy">&#169; 2023 Balance Booster. All rights reserved.</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->


<!--</body>-->
<!--</html>-->