<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>recommendPage</title>
</head>
<body>

<form th:action="@{/search}" method="get">
    <div class="container">
        <div class="side">
            <ul class="sidemenu1">
                <li class="side_li">
                    <a>여행지역</a>
                    <select name="address">
                        <option value="지역" >지역</option>
                        <option value="서울" th:selected="${param.address == '서울'}">서울</option>
                        <option value="경기" th:selected="${param.address == '경기'}">경기</option>
                        <option value="인천" th:selected="${param.address == '인천'}">인천</option>
                        <option value="부산" th:selected="${param.address == '부산'}">부산</option>
                        <option value="강원" th:selected="${param.address == '강원'}">강원</option>
                        <option value="대전" th:selected="${param.address == '대전'}">대전</option>
                        <option value="경북" th:selected="${param.address == '경북'}">경북</option>
                        <option value="경남" th:selected="${param.address == '경남'}">경남</option>
                        <option value="인천" th:selected="${param.address == '인천'}">전남</option>
                        <option value="인천" th:selected="${param.address == '인천'}">전북</option>
                        <option value="제주" th:selected="${param.address == '제주'}">제주</option>
                    </select>
                </li>

                <li class="side_li">
                    <a class="home">숙소유형</a>
                    <select name="category">
                        <option value="전체" >전체</option>
                        <option value="호텔" th:selected="${param.address == '호텔'}">호텔</option>
                        <option value="펜션" th:selected="${param.address == '펜션'}">펜션</option>
                        <option value="게스트하우스" th:selected="${param.address == '게스트하우스'}">게스트하우스</option>
                        <option value="캠핑" th:selected="${param.address == '캠핑'}">캠핑</option>
                        <option value="기타" th:selected="${param.address == '기타'}">기타</option>
                    </select>
                </li>
            </ul>
            <button type="submit" class="btn btn-outline-dark">검색</button>
        </div>
    </div>
</form>

<div th:if="${result}">
    <h2>숙소 정보</h2>
    <div th:each="stay, status: ${result.stays.getContent()}" class="card">
<!--        <a th:href="@{'/stay/' + ${stay.id}">-->
            <a th:text="${stay.name}"></a>
            <a th:text="${stay.category}" ></a>
<!--        </a>-->
    </div>

    <h2>여행지 정보</h2>
    <div th:each="trip, status: ${result.trips.getContent()}" class="card">
<!--        <a th:href="@{'/trip/' + ${trip.id}">-->
            <a th:text="${trip.name}"></a>
<!--        </a>-->
    </div>
</div>


<!--<form th:action="@{/stays/category}" method="get">-->
<!--    <div class="container">-->
<!--        <div class="side">-->
<!--            <ul class="sidemenu1">-->
<!--                <li class="side_li"><a >여행지역</a>-->
<!--                    <select name="address">-->
<!--                        <option value="지역" >지역</option>-->
<!--                        <option value="서울" th:selected="${param.address == '서울'}">서울</option>-->
<!--                        <option value="경기" th:selected="${param.address == '경기'}">경기</option>-->
<!--                        <option value="인천" th:selected="${param.address == '인천'}">인천</option>-->
<!--                        <option value="부산" th:selected="${param.address == '부산'}">부산</option>-->
<!--                        <option value="강원" th:selected="${param.address == '강원'}">강원</option>-->
<!--                        <option value="대전" th:selected="${param.address == '대전'}">대전</option>-->
<!--                        <option value="경북" th:selected="${param.address == '경북'}">경북</option>-->
<!--                        <option value="경남" th:selected="${param.address == '경남'}">경남</option>-->
<!--                        <option value="인천" th:selected="${param.address == '인천'}">전남</option>-->
<!--                        <option value="인천" th:selected="${param.address == '인천'}">전북</option>-->
<!--                        <option value="제주" th:selected="${param.address == '제주'}">제주</option>-->
<!--                    </select></li>-->

<!--                <li class="side_li"><a class="home" >숙소유형</a>-->
<!--                    <select name="category">-->
<!--                        <option value="전체" >전체</option>-->
<!--                        <option value="호텔" th:selected="${param.address == '호텔'}">호텔</option>-->
<!--                        <option value="펜션" th:selected="${param.address == '펜션'}">펜션</option>-->
<!--                        <option value="게스트하우스" th:selected="${param.address == '게스트하우스'}">게스트하우스</option>-->
<!--                        <option value="캠핑" th:selected="${param.address == '캠핑'}">캠핑</option>-->
<!--                        <option value="기타" th:selected="${param.address == '기타'}">기타</option>-->
<!--                    </select></li>-->


<!--            </ul>-->
<!--            <button type="submit" class="btn btn-outline-dark">검색</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div th:each="stay, status: ${stays.getContent()}" class="card" >-->
<!--        <a th:href="@{'/stay/' + ${stay.id}}">-->
<!--            <a th:text="${stay.name}"></a>-->
<!--            <a th:text="${stay.category}" ></a>-->
<!--        </a>-->
<!--    </div>-->
<!--</form>-->

</body>
</html>