<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>recommendPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- REMIX ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
    <!-- SWIPER CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/main_test.css}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{js/main_test.js}"></script>
    <style>
        @font-face {
            font-family: 'Pretendard-Regular';
            src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }
        body {
            font-family: 'Pretendard-Regular';
            background-color: #FDFAFF;
        }
        header {
            background-color: #FDFAFF;
        }
        h2 {
            font-family: 'Pretendard-Regular';
            text-align:center;
            font-size: 23px;
        }
        .result_content{
            font-family: 'Pretendard-Regular';
            width:80% ;
            padding:10px;
            font-size: 20px;
            display: flex;
            flex-wrap: wrap; /* 필요한 경우 다음 줄로 넘어갈 수 있도록 설정 */
            justify-content: space-between; /* 각각의 요소들을 가로로 고르게 배치 */
            align-items: flex-start; /* 각각의 요소들을 세로 방향으로 맞추어 정렬 (가운데 정렬을 원한다면 'center' 사용) */
        }
        input {
            margin:5px;
        }
        .sidemenu1 {
            list-style-type: none;
            background-color:white;
            border-radius:30px;
        }
        .side_li {
            text-decoration: none;
            margin-left: auto;
            margin-right : auto;
            padding:20px;
            text-size: 30px;
        }

        .sidemenu1 .side_li button {
            padding: 10px 10px;
            margin: 5px;
            cursor: pointer;
        }

        .sidemenu1 .side_li button.selected {
            /* 선택된 버튼 스타일링 */
            background-color: #3f0e63;
            color: #fff;
            /* 원하는 스타일 추가 */
        }
    </style>

    <script>
        $(document).ready(function () {
            $('.btn.btn-outline-dark').on('click', function () {
                $('#searchForm').submit();
            });
        });
    </script>
</head>
<body>

<!-- HEADER -->
<header class="header" id="header">
    <!--NAV CONTAINER 1-->
    <nav class="nav container">
        <a href="/" class="nav__logo-eng"> <i class="ri-earth-line"></i> Kick The World </a>

        <!--NAV MENU-->
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="/mypage" ><b>마이페이지</b></a>
                </li>
                <!-- 8번 브랜치에서 추가-->
                <li class="nav__item">
                    <a class="nav__link" href="/board/list" ><b>여행게시판</b></a>
                </li>
                <li class="nav__item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a class="nav__link" href="/admin" th:href="@{/admin}" ><b>관리자페이지</b></a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/members/login" th:href="@{/members/login}"
                       th:if="${#authorization.expression('isAnonymous()')}"><b>로그인</b></a>
                </li>

                <li class="nav__item">
                    <a class="nav__link" href="/members/new" th:href="@{/members/new}"
                       th:if="${#authorization.expression('isAnonymous()')}"><b>회원가입</b></a>
                </li>

                <li class="nav__item">
                    <a class="nav__link" href="/members/logout" th:href="@{/members/logout}"
                       th:if="${#authorization.expression('isAuthenticated()')}"><b>로그아웃</b></a>
                </li>

                <i class="ri-close-line nav__close" id="nav-close"></i>
            </ul>
        </div>
        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-function-line"></i>
        </div>
    </nav>

    <!--NAV CONTAINER 2-->
    <nav class="nav__container-main">
        <div class="nav__menu" id="nav-menu-main">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/main/trips" class="nav__link"><i class="ri-map-pin-line"></i> 여행지</a>
                </li>
                <li class="nav__item">
                    <a href="/main/stays" class="nav__link"><i class="ri-hotel-bed-line"></i> 숙소</a>
                </li>
                <li class="nav__item">
                    <a href="/main/eaterys" class="nav__link"><i class="ri-restaurant-line"></i> 맛집</a>
                </li>
                <li class="nav__item">
                    <a href="/search" class="nav__link"><i class="ri-heart-3-line"></i> 추천코스</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- MAIN -->
<main class="main">
    <!-- HOME -->
    <section class="home" id="home">
        <img th:src="@{images/main/Recommend.jpg}" alt="home main image" class="home__img">

        <div class="home__container container grid">
            <div class="home__social">
                <!--학교-->
                <a href="https://cs.skuniv.ac.kr/" target="_blank" class="home__social-link">
                    <i class="ri-leaf-fill"></i>
                </a>
                <!--인스타그램-->
                <a href="https://instagram.com/kicktheworld.official?igshid=OGQ5ZDc2ODk2ZA==" target="__blank" class="home__social-link">
                    <i class="ri-instagram-fill"></i>
                </a>
                <!--깃허브-->
                <a href="https://github.com/SKU-PROJECT/KTW_project" target="__blank" class="home__social-link">
                    <i class="ri-github-fill"></i>
                </a>
            </div>
        </div>
    </section>
    <div>
    <form th:action="@{/search}" method="get" id="searchForm" style="margin-top:50px; margin-left:auto; margin-right:auto;">
        <div class="container">
            <div class="side">
                <h2> 어떤 여행을 선호하시나요 ?</h2><br><br>
                <ul class="sidemenu1">
                    </li>
                    <li class="side_li">
                        <a style="color: black; background-color: #f8f8ff; padding: 5px; border-radius: 10px;" >테마   </a>
                        <label style="padding:40px;">
                            <input type="radio" name="theme" value="힐링" th:checked="${param.theme == '힐링'}"># 힐링
                            <input type="radio" name="theme" value="역사" th:checked="${param.theme == '역사'}"># 관광
                            <input type="radio" name="theme" value="액티비티" th:checked="${param.theme == '액티비티'}"># 액티비티
                        </label>
                        <!-- Add other radio buttons for different options -->
                    </li>

                    <li class="side_li">
                        <a style="color: black; background-color: #f8f8ff; padding: 5px; border-radius: 10px;" >여행지역     </a>
                        <label style="padding:20px;">
                            <input type="radio" name="address" value="서울" th:checked="${param.address == '서울'}">서울
                            <input type="radio" name="address" value="경기" th:checked="${param.address == '경기'}">경기
                            <input type="radio" name="address" value="강원" th:checked="${param.address == '강원'}">강원
                            <input type="radio" name="address" value="부산" th:checked="${param.address == '부산'}">부산
                            <input type="radio" name="address" value="제주" th:checked="${param.address == '제주'}">제주
                            <input type="radio" name="address" value="경남" th:checked="${param.address == '경남'}">경남
                            <input type="radio" name="address" value="전북" th:checked="${param.address == '전북'}">전북
                            <input type="radio" name="address" value="경북" th:checked="${param.address == '경북'}">경북
                            <input type="radio" name="address" value="전남" th:checked="${param.address == '전남'}">전남
                            <input type="radio" name="address" value="인천" th:checked="${param.address == '인천'}">인천
                        </label>
                    </li>

                    <li class="side_li">
                        <a style="color: black; background-color: #f8f8ff; padding: 5px; border-radius: 10px;" >숙소유형</a>
                        <label style="padding:20px;">
                            <input type="radio" name="category" value="호텔" th:checked="${param.category == '호텔'}">호텔
                            <input type="radio" name="category" value="펜션" th:checked="${param.category == '펜션'}">펜션
                            <input type="radio" name="category" value="게스트하우스" th:checked="${param.category == '게스트하우스'}">게스트하우스
                            <input type="radio" name="category" value="캠핑" th:checked="${param.category == '캠핑'}">캠핑
                        </label>
                    </li>

                    <li class="side_li">
                        <a style="color: black; background-color: #f8f8ff; padding: 5px; border-radius: 10px;" >음식점종류</a>
                        <label style="padding:17px;"l>
                            <input type="radio" name="eaterycategory" value="한식" th:checked="${param.eaterycategory == '한식'}">한식
                            <input type="radio" name="eaterycategory" value="일식" th:checked="${param.eaterycategory == '일식'}">일식
                            <input type="radio" name="eaterycategory" value="양식" th:checked="${param.eaterycategory == '양식'}">양식
                            <input type="radio" name="eaterycategory" value="중식" th:checked="${param.eaterycategory == '중식'}">중식
                        </label>
                    </li>
                </ul>
                <div class="btn1" style="text-align:center;">
                    <button type="submit" class="btn btn-outline-dark">검색</button></div>
            </div>
        </div>
<!--        <h2>이 여행코스는 어떠신가요 ? </h2><br>-->
    <div class="result_content">
        <div th:each="trip, status: ${trips.getContent()}">
            <th:block th:each="repImg: ${trip.tripImgs.?[repimgYn == 'Y']}">
                <img th:src="${repImg.imgUrl}" th:alt="${trip.name}" class="rounded-1 repImg" style="width:300px; height:300px;border-radius:50px;">
            </th:block><br>
            <a style="background-color: #5D446F; color:white; padding:5px; margin:5px; border-radius:5px;" th:text="'#'+${trip.theme}"></a><br>
            <a th:text="${trip.name}"></a><br><br>
        </div>

        <div th:each="stay, status: ${stays.getContent()}">
            <th:block th:each="repImg: ${stay.stayImgs.?[repimgYn == 'Y']}">
                <img th:src="${repImg.imgUrl}" th:alt="${stay.name}" class="rounded-1 repImg" style="width:300px; height:300px;border-radius:50px;">
            </th:block><br>
            <a style="background-color: #5D446F; color:white; padding:5px; border-radius: 5px;" th:text="'#'+${stay.category}"></a><br>
            <a th:text="${stay.name}"></a><br><br>

        </div>
        <div th:each="eatery, status: ${eaterys.getContent()}">
            <th:block th:each="repImg: ${eatery.eateryImgs.?[repimgYn == 'Y']}">
                <img th:src="${repImg.imgUrl}" th:alt="${eatery.name}" class="rounded-1 repImg" style="width:300px; height:300px;border-radius:50px;">
            </th:block>
            <a style="background-color: #5D446F; color:white; padding:5px; border-radius: 5px;" th:text="${eatery.eaterycategory}" ></a><br>
            <a th:text="${eatery.name}"></a>

        </div>
    </div>
    </form>
    </div>
</main>


<!--&lt;!&ndash; FOOTER &ndash;&gt;-->
<!--<footer class="footer section">-->
<!--    <div class="footer__container container grid">-->
<!--        <div class="footer__content grid">-->
<!--            <div class="footer__data">-->
<!--                <h3 class="footer__title">Developer</h3>-->
<!--                <div>-->
<!--                    <a href="https://www.facebook.com/" target="_blank" class="footer__social">-->
<!--                        <span class="footer__name">김은정</span><i class="ri-github-fill"></i>-->
<!--                    </a>-->
<!--                    <a href="https://twitter.com/" target="_blank" class="footer__social">-->
<!--                        <span class="footer__name">박의연</span><i class="ri-github-fill"></i>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="footer__data">-->
<!--                <h3 class="footer__subtitle">Company</h3>-->
<!--                <ul>-->
<!--                    <li class="footer__item">-->
<!--                        <a href="" class="footer__link">Team</a>-->
<!--                    </li>-->
<!--                    <li class="footer__item">-->
<!--                        <a href="" class="footer__link">Plan y Pricing</a>-->
<!--                    </li>-->
<!--                    <li class="footer__item">-->
<!--                        <a href="" class="footer__link">Become a member</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="footer__rights">-->
<!--            <p class="footer__copy">&#169; 2023 Balance Booster. All rights reserved.</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->

</body>
</html>